<footer class="page-footer font-small bg-secondary pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4 class="text-center">Me siga nas redes sociais</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul class="list-style-none p-0 d-flex justify-content-center ">
        <li >
          <a class="text-white m-2 fs-32" href="https://github.com/Renato-Nakamura">
            <i class="fab fa-github-alt"></i>
          </a>
        </li>
        <li>
          <a class="text-white m-2 fs-32" href="mailto:renato.yukio30@gmail.com">
            <i class="far fa-envelope"></i>
          </a>
        </li>
        <li>
          <a class="text-white m-2 fs-32" href="https://www.linkedin.com/in/renato-nakamura/">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-copyright bg-dark text-center py-3 text-light">
      <span class=""> 2021 Copyright :</span>
      <a href="https://github.com/Renato-Nakamura">Renato Nakamura</a>
  </div>

</footer>
