#img-bg{
    background-image: url(../../assets/img/img-bg-sign-in.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tela-cheia{
    height: 100vh;
}