<app-menu></app-menu>
<div class="container-fluid">
  <div
    class="row tela d-flex justify-content-center align-items-center"
    id="grad"
  >
    <div class="col-md-6 text-center">
      <h1>Bem vindo ao GenBlog!</h1>
      <p>
        Compartilhe suas ideias e dicas para facilitar no crescimento dos
        futuros alunos da Generation Brasil
      </p>
      <div class="d-flex justify-content-center">
        <button
          (click)="pegarTemas()"
          type="button"
          class="btn btn-primary me-3"
          data-bs-toggle="modal"
          data-bs-target="#novaPostagem"
        >
          Adicionar postagem
        </button>
        <a href="#pills-tab" class="btn btn-outlone-primary">Ver postagens</a>
      </div>
    </div>
  </div>
</div>

<ul
  class="nav nav-pills mb-3 d-flex justify-content-center"
  id="pills-tab"
  role="tablist"
>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link active"
      id="pills-todasPostagens-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-todasPostagens"
      type="button"
      role="tab"
      aria-controls="pills-todasPostagens"
      aria-selected="true"
    >
      Todas as postagens
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      (click)="pegarUserId()"
      class="nav-link"
      id="pills-minhasPostagens-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-minhasPostagens"
      type="button"
      role="tab"
      aria-controls="pills-minhasPostagens"
      aria-selected="false"
    >
      Minhas postagens
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      (click)="pegarTemas()"
      class="nav-link"
      id="pills-temaPostagens-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-temaPostagens"
      type="button"
      role="tab"
      aria-controls="pills-temaPostagens"
      aria-selected="false"
    >
      Postagens por tema
    </button>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div
    class="tab-pane fade show active"
    id="pills-todasPostagens"
    role="tabpanel"
    aria-labelledby="pills-todasPostagens-tab"
  >
    <h5>Todas as postagens</h5>
    <div>
      <div
        class="card"
        style="width: 18rem"
        *ngFor="let items of listaPostagem"
      >
        <div class="card-body">
          <h5 class="card-title">{{ items.titulo }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            {{ items.tema.descricao }}
          </h6>
          <p class="card-text">{{ items.texto }}</p>
          <p class="card-text">By: {{ items.usuario.nome }}</p>
          <p class="card-text">
            {{ items.date | date: "dd/MM/yyyy" }} às
            {{ items.date | date: "HH:mm" }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="tab-pane fade"
    id="pills-minhasPostagens"
    role="tabpanel"
    aria-labelledby="pills-minhasPostagens-tab"
  >
    <h5>Minhas postagens</h5>
    <div class="card" style="width: 18rem" *ngFor="let items of user.postagem">
      <div class="card-body">
        <h5 class="card-title">{{ items.titulo }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          {{ items.tema.descricao }}
        </h6>
        <p class="card-text">{{ items.texto }}</p>
        <p class="card-text">
          {{ items.date | date: "dd/MM/yyyy" }} às
          {{ items.date | date: "HH:mm" }}
        </p>
        <button (click)="pegarTemas()" (click)='selecionado(items.id)' (click)='pegarPostagemId()' class="btn btn-secondary me-3"data-bs-toggle="modal" data-bs-target="#editarPostagem">editar</button>
        <button (click)='selecionado(items.id)' (click)='pegarPostagemId()' class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deletePostagem">deletar</button>
      </div>
    </div>
  </div>
  <div
    class="tab-pane fade"
    id="pills-temaPostagens"
    role="tabpanel"
    aria-labelledby="pills-temaPostagens-tab"
  >

    <h5>Postagens por tema</h5>
    <div class="form-group mt-3">
      <select
        [(ngModel)]="idTemaPostagem"
        name="tema"
        id="tema"
        class="form-control"
      >
        <option *ngFor="let items of listaTema" value="{{ items.id }}">
          {{ items.descricao }}
        </option>
      </select>
      <button class="btn btn-success" (click)="pegarTemaId()">Pesquisar</button>
    </div>

    <div
      class="card"
      style="width: 18rem"
      *ngFor="let items of temaPostagem.postagem"
    >
      <div class="card-body">
        <h5 class="card-title">{{ items.titulo }}</h5>
        <p class="card-text">{{ items.texto }}</p>
        <p class="card-text">By: {{ items.usuario.nome }}</p>
        <p class="card-text">
          {{ items.date | date: "dd/MM/yyyy" }} às
          {{ items.date | date: "HH:mm" }}
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="novaPostagem"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nova postagem</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="titulo">Título: </label>
          <input
            [(ngModel)]="postagem.titulo"
            class="form-control"
            type="text"
            name="titulo"
            id="titulo"
            placeholder="Título da sua postagem"
          />
        </div>
        <div class="form-group mt-3">
          <label for="texto">Conteúdo: </label>
          <textarea
            [(ngModel)]="postagem.texto"
            class="form-control"
            name="texto"
            id="texto"
            cols="30"
            rows="3"
            placeholder="Insira sua mensagem e contribua com a comunidade!"
          ></textarea>
        </div>
        <div class="form-group mt-3">
          <label for="tema">
            Escolha um tema ou
            <a (click)="troca()" routerLink="/tema" data-bs-dismiss="modal"
              >crie um novo</a
            >
          </label>
          <select
            [(ngModel)]="idTema"
            name="tema"
            id="tema"
            class="form-control"
            (change)="pegarTemasId()"
          >
            <option *ngFor="let items of listaTema" value="{{ items.id }}">
              {{ items.descricao }}
            </option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-danger"
          data-bs-dismiss="modal"
          (click)='limpar()'
        >
          Fechar
        </button>
        <button
          (click)="postar()"
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
        >
          Publicar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal delete -->
<div
  class="modal fade"
  id="deletePostagem"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Deletar postagem</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <h3>Tem certeza que deseja deletar o seguinte post?</h3>
          <h5 class="card-title">{{ postagem.titulo }}</h5>
<!--           <h6 class="card-subtitle mb-2 text-muted">
            {{ postagem.tema.descricao }}
          </h6> -->
          <p class="card-text">{{ postagem.texto }}</p>
          <p class="card-text">
            {{ postagem.date | date: "dd/MM/yyyy" }} às
            {{ postagem.date | date: "HH:mm" }}
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-secondary"
          data-bs-dismiss="modal"
          (click)='limpar()'
        >
          Fechar
        </button>
        <button
          (click)="deletarPost()"
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
        >
          Deletar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Editar -->
<div
  class="modal fade"
  id="editarPostagem"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar postagem</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="titulo">Título: </label>
          <input
            [(ngModel)]="postagem.titulo"
            class="form-control"
            type="text"
            name="titulo"
            id="titulo"
            placeholder="Título da sua postagem"
          />
        </div>
        <div class="form-group mt-3">
          <label for="texto">Conteúdo: </label>
          <textarea
            [(ngModel)]="postagem.texto"
            class="form-control"
            name="texto"
            id="texto"
            cols="30"
            rows="3"
            placeholder="Insira sua mensagem e contribua com a comunidade!"
          ></textarea>
        </div>
        <div class="form-group mt-3">
          <label for="tema">Tema:
          </label>
          <select
            [(ngModel)]="idTema"
            name="tema"
            id="tema"
            class="form-control"
            (change)="pegarTemasId()"
          >
            <option *ngFor="let items of listaTema" value="{{ items.id }}">
              {{ items.descricao }}
            </option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-danger"
          data-bs-dismiss="modal"
          (click)='limpar()'
        >
          Fechar
        </button>
        <button
          (click)="alterar()"
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
        >
          Alterar
        </button>
      </div>
    </div>
  </div>
</div>